* {
    padding: 0;
    margin: 0;

    font-family: "Nunito"
}

.container-horizontal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    overflow: hidden;
}